<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="mb-6 rounded-md border border-red-300 bg-red-50 p-4 text-red-700">
    <h2 class="text-lg font-semibold mb-2">
      <%= I18n.t("errors.messages.not_saved",
                count: resource.errors.count,
                resource: resource.class.model_name.human.downcase) %>
    </h2>
    <ul class="list-disc list-inside space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
